[submodule "content/programs/ai-seeds"]
	path = content/programs/ai-seeds
	url = https://github.com/open-ai-school/ai-seeds.git
[submodule "content/programs/ai-sprouts"]
	path = content/programs/ai-sprouts
	url = https://github.com/open-ai-school/ai-sprouts.git
[submodule "content/programs/ai-branches"]
	path = content/programs/ai-branches
	url = https://github.com/open-ai-school/ai-branches.git
[submodule "content/programs/ai-canopy"]
	path = content/programs/ai-canopy
	url = https://github.com/open-ai-school/ai-canopy.git
[submodule "content/programs/ai-forest"]
	path = content/programs/ai-forest
	url = https://github.com/open-ai-school/ai-forest.git
[submodule "content/programs/ai-sketch"]
	path = content/programs/ai-sketch
	url = https://github.com/open-ai-school/ai-sketch.git
	branch = main
[submodule "content/programs/ai-chisel"]
	path = content/programs/ai-chisel
	url = https://github.com/open-ai-school/ai-chisel.git
	branch = main
[submodule "content/programs/ai-craft"]
	path = content/programs/ai-craft
	url = https://github.com/open-ai-school/ai-craft.git
	branch = main
[submodule "content/programs/ai-polish"]
	path = content/programs/ai-polish
	url = https://github.com/open-ai-school/ai-polish.git
	branch = main
[submodule "content/programs/ai-masterpiece"]
	path = content/programs/ai-masterpiece
	url = https://github.com/open-ai-school/ai-masterpiece.git
	branch = master
